<app-user-bar></app-user-bar>
<app-equipament-header></app-equipament-header>

<div class="flex-container" style="margin-bottom: 40px;">
  <div class="oneFlex flex-container-collum">
    <div class="side">
      <strong>Umidade e Temperatura</strong>
      <canvas baseChart width="500" height="150"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
      </canvas>
      <div class="side">
        <strong>teste</strong>
      </div>
    </div>
    <div class="flex-container-collum" style="max-width: 550px; text-align: center; font-size: 30px; line-height: 36px;">
      <strong>Ambiente</strong>
      <div class="flex-container">
        <div class="flex-container">
          <div class="box" style="text-align: center;">
            <strong class="boxTitle">Humidade</strong>
            <tr></tr>
          </div>
          <div class="box" style="text-align: center;">
            <strong class="boxTitle">Luminosidade</strong>
            <tr></tr>
          </div>
          <div class="box" style="text-align: center;">
            <strong class="boxTitle">Temperatura</strong>
            <tr></tr>
          </div>
        </div>
      </div>
      <strong>Solo</strong>
      <div class="flex-container">
        <div class="box" style="text-align: center;">
          <strong class="boxTitle">Humidade</strong>
          <tr></tr>
        </div>
        <div class="box" style="text-align: center;">
          <strong class="boxTitle">Temperatura</strong>
          <tr></tr>
        </div>
      </div>
    </div>
  </div>
</div>