<app-user-bar></app-user-bar>
<app-equipament-header></app-equipament-header>
<div class="padding-left-20"><button class="button" (click)="OnChanges()">Atualizar</button></div>
<div class="flex-container-collum" style="max-width: 1400px;">
  <div class="flex-container">
    <div class="box">      
      <strong>Temperatura Ambiente Media/Temperatura do Solo Media (ºc)</strong>
      <canvas baseChart width="400" height="150"
        [datasets]="lineChartDataTemperatura"
        [labels]="lineChartLabelsTemperatura"
        [options]="lineChartOptionsTemperatura"
        [colors]="lineChartColorsTemperatura"
        [legend]="lineChartLegendTemperatura"
        [chartType]="lineChartTypeTemperatura"
        [plugins]="lineChartPluginsTemperatura">
      </canvas>     
    </div>
    <div class="box">
      <strong>Umidade Ambiente /Umidade do Solo Media (%)</strong>
      <canvas baseChart width="400" height="150"
        [datasets]="lineChartDataUmidade"
        [labels]="lineChartLabelsUmidade"
        [options]="lineChartOptionsUmidade"
        [colors]="lineChartColorsUmidade"
        [legend]="lineChartLegendUmidade"
        [chartType]="lineChartTypeUmidade"
        [plugins]="lineChartPluginsUmidade">
      </canvas>
    </div>
  </div>
  <div class="flex-container">
    <div class="box">
      <strong>PH Média</strong>
      <canvas baseChart width="400" height="150"
        [datasets]="lineChartDataPH"
        [labels]="lineChartLabelsPH"
        [options]="lineChartOptionsPH"
        [colors]="lineChartColorsPH"
        [legend]="lineChartLegendPH"
        [chartType]="lineChartTypePH"
        [plugins]="lineChartPluginsPH">
      </canvas>
    </div>
    <div class="box">
      <strong>Luminosidade Média (%)</strong>
      <canvas baseChart width="400" height="150"
        [datasets]="lineChartDataLuminosidade"
        [labels]="lineChartLabelsLuminosidade"
        [options]="lineChartOptionsLuminosidade"
        [colors]="lineChartColorsLuminosidade"
        [legend]="lineChartLegendLuminosidade"
        [chartType]="lineChartTypeLuminosidade"
        [plugins]="lineChartPluginsLuminosidade">
      </canvas>
    </div>
  </div>
</div>

