.flex-container{
  display: flex;
  flex-wrap: wrap;
}

.flex-container-collum{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 7px;
}

.oneFlex{
  flex: 1;
}

.side{
  background-color: #6B3E2B;
  padding: 25px;
  text-align: center;
  border-radius: 15px;
  margin: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.box{
  width: 165px;
  height: 160px;
  padding: 10px;
  background-color: #6B3E2B;
  margin: 7px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

/* ------ Gauge ---------- */
mwl-gauge {
  width: 150px;
  height: 150px;
  display: block;
  padding: 10px;
}
mwl-gauge > .gauge > .dial {
  stroke: #53CF53;
  stroke-width: 2;
  fill: rgba(0, 0, 0, 0);
}
mwl-gauge > .gauge > .value {
  stroke: #53CF53;
  stroke-width: 2;
  fill: rgba(0, 0, 0, 0);
}
mwl-gauge > .gauge > .value-text {
  fill: rgb(47, 227, 255);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.8em;
}