<div class="header">
    <div class="flex-container">
        <div class="item-header"><img src="../../../img/Logo_Title.jpg" width="20" height="20" /></div>
        <div class="item-header-user">{{userName}}</div>
        <div class="item-header-logout" (click)="onLogout()">Logout</div>
    </div>
</div>
<div class="footer">
    <div class="flex-container">
        <div class="item-footer-left" (click)="onClick()">Historico</div>
        <div class="item-footer-right" (click)="onClick()">Status</div>
    </div>
</div>

